html,body {
position:relative
}

input,select,option {
outline:none!important
}

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

:before,:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

.container:before,.container:after {
display:table;
content:" "
}

.container {
transition:all 1s;
display:block;
position:relative;
width:1146px;
transition:.3s;
padding-right:0;
padding-left:0;
margin-right:auto;
margin-left:auto
}

a {
text-decoration:none
}

a::hover {
cursor:pointer
}

h1,h2,h3,h4,p,body {
margin:0;
padding:0
}

img {
max-width:100%;
display:block;
height:auto
}

section {
position:relative
}

ul,li {
list-style-type:none;
padding-left:0
}

button:active,button:focus {
border:0;
outline:none
}

.header-bg {
position:absolute;
top:0;
left:0;
width:100%;
height:74px;
z-index:0;
background-color:rgba(12,3,19,0.3);
background-size:30px 100%
}

.header {
position:absolute;
top:0;
width:100%;
z-index:1
}

.header-inner {
display:flex;
justify-content:space-between;
    align-items: center;
}

.header-menu {
display:flex;
justify-content:space-between;
margin-top:25px
}

.header-description {
background-color:#0052b5;
text-align:center;
padding:22px 45px
}

.header-description-text {
font-size:19px;
font-weight:300;
color:#f6f6f6;
font-family:'Roboto',sans-serif
}

.header-menu-li-link {
font-size:18px;
font-weight:300;
color:#fcfcfc;
font-family:'Roboto',sans-serif;
padding:0 13px
}

.header-menu .header-menu-li:first-child>a {
padding-left:0
}

.header-menu .header-menu-li:last-child>a {
padding-right:0
}

.home {
height:999px;
background:url(../img/bg-img.jpg) no-repeat;
background-size:cover;
color:#f7f7f7;
font-family:'Montserrat',sans-serif
}

.home-inner {
padding-top:250px;
text-align:center
}

.home-inner-title {
font-size:46px;
color:#f7f7f7;
text-transform:uppercase;
font-family:'Montserrat',sans-serif;
font-weight:600;
margin-top:50px
}

.home-inner-title>span {
color:#ffc73b
}

.home-inner-logo {
position:relative;
display:inline-block;
padding-left:90px;
text-align:left;
height:71px
}

.home-inner-logo:before {
content:'';
position:absolute;
width:71px;
height:71px;
background:url(../img/logo.png)no-repeat;
background-size:auto;
background-position:center center;
left:0;
top:0
}

.home-inner-logo-title {
text-transform:uppercase;
font-weight:600;
font-size:37px
}

.home-inner-logo-text {
font-weight:400;
font-size:18px
}

.home-bottom {
position:absolute;
bottom:110px;
left:0;
width:100%
}

.home-bottom-inner {
display:flex;
justify-content:space-between;
padding:50px 0;
border-top:1px solid #323236;
border-bottom:1px solid #323236;
margin:0 68px
}

.home-bottom-inner-column {
display:flex
}

.home-bottom-contact {
display:flex;
flex-direction:column
}

.home-bottom-link {
font-weight:500;
color:#ebf0f3;
font-size:22px
}

.home-bottom-link>span {
color:#006ae9
}

.home-bottom-text {
font-weight:400;
color:#ebf0f3;
opacity:.46;
padding-top:5px
}

.home-bottom-inner-column .home-bottom-contact:first-child {
padding-right:108px
}

.scroll {
position:absolute;
bottom:20px;
text-align:center;
width:100%
}

.scroll-button {
width:30px;
height:32px;
background:url(../img/arrow-scroll.png) no-repeat;
background-size:100%;
display:inline-block;
opacity:.5
}

.scroll-button:hover {
cursor:pointer;
opacity:1
}

.home-bottom-button {
background:#0063da;
display:inline-block;
color:#fcfcfc;
font-size:18px;
padding:14px 25px;
font-family:'Roboto',sans-serif;
font-weight:400
}

.home-bottom-button:hover {
background:#0074ff;
cursor:pointer
}

.rental {
padding-top:60px
}
    .formclose {
        
        position: absolute;
        width: 12px;
        height: 12px;
        top:10px;
        right: 10px;
        cursor: pointer;
        background: url(../img/close_normal.png)no-repeat;
        background-size: 100%;
        background-position: center center;
    }

.flex-form-title h3 {
    
    font-family:'Montserrat',sans-serif;
    color:#272727;
    
}

.rental-h2 {
text-align:center;
font-weight:600;
color:#ffc73b;
font-family:'Montserrat',sans-serif;
font-size:71px
}

.rental-inner {
display:flex;
justify-content:center;
align-items:center;
margin-top:75px
}

.form-section-h2 {
font-weight:600;
font-size:32px;
text-transform:uppercase;
color:#f7f7f7;
font-family:'Montserrat',sans-serif;
text-align:center;
opacity:.9
}

.form-section {
padding:35px 0 85px;
background:url(../img/bg-footer.jpg) no-repeat;
background-size:cover
}

.form-section-h2>span {
color:#ffc73b
}

.form {
position:relative;
display:block;
width:100%;
max-width:1020px;
margin:0 auto;
border-bottom:1px solid #323236
}

.form-inner {
display:flex;
flex-wrap:wrap;
justify-content:space-between
}

.form-cool {
width:100%;
max-width:295px
}

.form-input {
display:block;
width:100%;
height:48px;
opacity:.9;
font-size:18px;
border:1px solid #b1bfd0
}

.form-input:focus {
border:2px solid #136fe2;
background-color:#fff;
opacity:1
}

.form-label {
display:block;
font-size:17px;
color:#b9c2ce;
font-weight:400;
font-family:'Roboto',sans-serif;
margin-bottom:12px
}

.form-section-little {
font-size:18px;
font-weight:400;
color:#e1e1e1;
font-family:'Roboto',sans-serif;
text-align:center;
margin:18px 0 25px
}

.form-check>span {
color:#b9c2ce;
font-weight:400;
font-size:16px;
font-family:'Roboto',sans-serif
}

.form-check {
margin-top:25px
}

.form-button-wrap {
text-align:center;
margin:30px 0 45px
}

.form-button {
background:#0063da;
display:inline-block;
color:#fcfcfc;
font-size:18px;
padding:14px 25px;
font-family:'Roboto',sans-serif;
font-weight:400;
border:0
}

.form-button:hover {
background:#0074ff;
cursor:pointer
}

.contact-block {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:45px
}

.contact-block-left {
background-color:#0052b5;
width:490px;
padding:20px 5px
}

.contact-block-logo {
display:flex;
justify-content:center;
align-items:center
}

.contact-block-logo-text {
margin-left:30px
}

.contact-block-logo-text-title {
font-weight:700;
color:#f6f6f6;
font-size:33px;
text-transform:uppercase;
font-family:'Montserrat',sans-serif
}

.contact-block-logo-text-slogan {
font-weight:300;
color:#f6f6f6;
font-size:19px;
font-family:'Roboto',sans-serif
}

.contact-block-title {
font-size:26px;
font-weight:700;
color:#f7f7f7;
text-transform:uppercase;
font-family:'Montserrat',sans-serif;
text-align:center;
margin-top:20px
}

.contact-cool-link {
font-weight:500;
color:#ebf0f3;
font-size:22px;
font-family:'Montserrat',sans-serif
}

.contact-cool-link>span {
color:#006ae9
}

.contact-block-right {
display:flex;
justify-content:space-between
}

.contact-cool {
display:flex;
flex-direction:column;
margin-bottom:35px
}

.contact-cool-text {
font-family:'Montserrat',sans-serif;
font-size:17px;
font-weight:400;
color:#ebf0f3;
opacity:.46;
margin-top:8px
}

.contact-block-right-top {
margin-right:35px
}

.contact-block-addres-top {
font-family:'Montserrat',sans-serif;
font-size:20px;
font-weight:600;
color:#ebf0f3
}

.contact-block-addres-bottom {
font-family:'Montserrat',sans-serif;
font-size:17px;
font-weight:400;
color:#ebf0f3;
opacity:.46
}

.footer {
background:#293133
}

.footer-inner {
display:flex;
justify-content:space-between;
padding:18px 0
}

.footer-left,.footer-right {
font-family:'Montserrat',sans-serif;
font-size:15px;
font-weight:400;
color:#ebf0f3;
opacity:.46
}

.footer-right span {
text-decoration:underline
}

.footer-right:hover {
opacity:1
}

.main {
height:1000px;
background:url(../img/bg-img.jpg) no-repeat;
background-size:cover;
color:#f7f7f7;
font-family:"Montserrat",sans-serif
}

.main-inner {
display:flex;
padding-top:250px;
text-align:center
}

.main-inner-title {
font-size:46px;
color:#f7f7f7;
text-transform:uppercase;
font-family:"Montserrat",sans-serif;
font-weight:600;
margin-top:50px
}

.main-inner-logo {
position:relative;
display:inline-block;
padding-left:90px;
text-align:left;
height:80px
}

.main-inner-logo-title {
text-transform:uppercase;
font-weight:600;
font-size:37px
}

.main-inner-logo-text {
font-weight:400;
font-size:18px
}

.main-inner-logo:before {
content:"";
position:absolute;
width:80px;
height:80px;
background:url(../img/logo.png) no-repeat;
background-size:auto;
background-position:center center;
left:0;
top:0
}

.main-bottom {
position:absolute;
bottom:110px;
left:0;
width:100%
}

.main-bottom-inner {
display:flex;
justify-content:space-between;
padding:50px 0;
border-top:1px #323236 solid;
border-bottom:1px #323236 solid;
margin:0 68px
}

.main-bottom-inner-column {
display:flex;
justify-content:center;
flex-wrap:wrap
}

.main-bottom-contact {
display:flex;
flex-direction:column
}

.main-bottom-link {
font-weight:500;
color:#ebf0f3;
font-size:22px
}

.main-bottom-link > span {
color:#006ae9
}

.main-bottom-link:hover {
color:#fff
}

.main-bottom-text {
font-weight:400;
color:#ebf0f3;
opacity:.46;
padding-top:5px
}

.main-bottom-inner-column .main-bottom-contact:first-child {
padding-right:108px
}

.scroll-button:hover {
cursor:pointer;
opacity:1
}

.info-link {
color:#272727;
    cursor: pointer
}

.form-p {
width:100%;
max-width:295px
}

.form-input:hover {
border:1px solid #7aa5d9
}

.form-input:active {
border:2px solid #136fe2;
color:#9cacbf
}

.form-input:focus {
border:2px solid #136fe2;
background-color:#fff;
opacity:1
}

.form-button:hover {
background:$button-hover-bg;
cursor:pointer
}

.contact-p-link {
font-weight:500;
color:#ebf0f3;
font-size:22px;
font-family:"Montserrat",sans-serif
}

.contact-p-link > span {
color:#006ae9
}

.contact-block-right {
display:flex;
justify-content:space-between
}

.contact-p {
display:flex;
flex-direction:column;
margin-bottom:35px
}

.contact-p-text {
font-family:"Montserrat",sans-serif;
font-size:17px;
font-weight:400;
color:#ebf0f3;
opacity:.46;
margin-top:8px
}

.form-wrapper-popup {
height:auto;
width:588px;
background-color:#f5f8fd;
border:1px solid #e0e5eb
}

.form-popup {
position:relative;
display:block;
width:100%;
padding:27px 10%
}

.form-popup-inner {
display:flex;
flex-direction:column
}

.flex-form-title {
display:flex;
flex-wrap:nowrap;
justify-content:center;
padding-top:20px;
align-content:center
}

.text-selected-model {
color:#007bff;
border-bottom:1px dotted #0052b5
}

.techic-table-wrap {
display:block;
position:relative
}

.technic-subtable {
display:block;
position:absolute;
width:100%;
left:0;
top:0
}

.technic-subtable.open {
position:relative
}

.main-bottom-button {
background:#0063da;
display:flex;
border:0;
height:48px;
color:#fcfcfc!important;
font-size:18px;
padding:11px 25px;
font-family:"Roboto",sans-serif;
font-weight:400;
filter:brightness(100%);
text-decoration:none!important;
transition:all 200ms
}

.main-bottom-button:hover {
background:#0063da;
filter:brightness(110%);
cursor:pointer
}

.rental-inner {
width:1146px;
display:flex;
align-items:start;
margin-top:4.6875rem;
margin-bottom:4.6875rem;
justify-content:space-between;
font-family:"Montserrat",sans-serif
}

.flex-technic {
display:flex;
background:#fff;
flex-flow:row;
flex-wrap:wrap;
width:28.75rem;
margin-right:30px;
justify-content:space-between
}

.flex-technic-block {
display:flex;
flex-flow:column;
align-items:center;
margin-bottom:3.4375rem;
background:#383838;
height:12.25rem;
width:12.375rem
}

.card-technic {
position:relative;
cursor:pointer;
background:#fff;
text-align:center;
box-sizing:content-box;
border:1px solid transparent;
transition:all 200ms
}

.card-technic:hover {
border-color:#eef1f4;
box-shadow:-22px 22px 8px 0 rgba(19,58,105,0.1)
}

.card-technic.selected {
border-color:#ffc73b;
box-shadow:-14px 14px 6px 0 rgba(19,58,105,0.1)
}

.card-details h4 a {
display:block;
margin-top:12px;
text-decoration:none;
transition:.3s;
font-weight:400;
color:#272727;
font-family:"Montserrat",sans-serif;
font-size:18px
}

.card-details h4 a:hover {
text-decoration:underline
}

h4 {
font-weight:500;
color:#272727;
font-family:"Montserrat",sans-serif;
font-size:18px
}

.text-right {
font-weight:500;
color:#006ae9;
font-family:"Montserrat",sans-serif;
font-size:19px
}

.text-left {
font-weight:400;
color:#272727;
font-family:"Montserrat",sans-serif;
font-size:16px
}

.flex-price {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:flex-start
}

.flex-price>div {
padding:7px 30px 0 0
}

.wrapper {
max-width:588px
}

.flex-table-title {
background:#c1d0e2;
display:flex;
flex-wrap:nowrap;
justify-content:center;
padding:12px;
align-content:center
}

.flex-text-center {
text-align:center
}

.flex-table {
display:flex;
height:100%;
flex-wrap:nowrap
}

.flex-table>div {
display:flex;
background:#f5f8fd;
border:1px solid #c1d0e2;
width:588px;
flex-flow:column wrap;
margin:0;
padding:10px
}

.flex-table>div:nth-of-type(1) {
text-align:center;
width:35px;
flex-shrink:0
}

.flex-table>div:nth-of-type(2) {
flex-grow:1
}

.flex-table>div:nth-of-type(3) {
justify-content:center;
align-items:center;
flex-grow:2
}

.flex-table>div:nth-of-type(3) .main-bottom-button {
margin-top:10px
}

.technic-table {
display:none
}

.technic-table.visible {
display:block
}

.technic-table-info {
display:none
}

.technic-table-info.visible {
display:block
}

.table-border-info {
border:1px solid #c1d0e2;
background:#f5f8fd
}

.flex-table-title-info {
display:flex;
height:46px;
flex-wrap:wrap-reverse;
justify-content:left;
padding:12px;
align-content:center
}

.arrow {
font-weight:400;
text-align:right;
color:#272727;
font-family:"Montserrat",sans-serif;
font-size:16px
}

.flex-arrow>div {
padding:0 20px
}

.flex-previous {
background:#c1d0e2
}

.number01 {
font-weight:700;
text-align:right;
color:#0052b5;
font-family:"Montserrat",sans-serif;
font-size:40px
}

.flex-info-title {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:center
}

.flex-info-title,.flex-table-arrow>div {
padding:7px 30px
}

.flex-table-arrow {
background:#f5f8fd;
display:flex;
flex-wrap:nowrap;
font-weight:500;
color:#272727;
font-family:"Montserrat",sans-serif;
font-size:18px
}

.flex-arrow-img {
display:flex;
align-self:end;
justify-content:end;
margin:10px;
cursor:pointer
}

a.arrow-left {
background:url(/img/arrow-left-normal.png);
display:block;
width:36px;
height:36px;
margin-right:22px
}

a.arrow-left:hover {
background:url(/img/arrow-left-active.png)
}

a.arrow-right {
background:url(/img/arrow-right-normal.png);
display:block;
width:36px;
height:36px
}

a.arrow-right:hover {
background:url(/img/arrow-right-active.png)
}

.flex-technic-img {
height:239px;
width:319px;
margin:0 auto;
display:flex;
align-items:center
}

.tech-price-item-card {
align-self:center;
width:100%;
display:inline-block;
background-color:#293133;
padding:17px 32px
}

.tech-price-item-card-item {
display:flex;
justify-content:space-between;
line-height:30px
}

.text-right-bl {
font-weight:600;
color:#ffc73b;
font-family:"Montserrat",sans-serif;
font-size:19px
}

.text-left-bl {
font-weight:400;
color:#f5f8fd;
font-family:"Roboto",sans-serif;
font-size:18px
}

.text-dot-info {
font-weight:400;
color:#272727;
font-family:"Roboto",sans-serif;
font-size:19px
}

.text-dot2-info {
font-weight:400;
color:#523d0a;
font-family:"Roboto",sans-serif;
font-size:19px
}

.tech-info-item-card {
align-self:center;
width:100%;
display:inline-block;
padding:17px 32px
}

.tech-info-item-card-item {
display:flex;
justify-content:space-between;
line-height:26px
}

.dot {
flex:1 0;
border-bottom:2px dotted #8a8d93;
height:1.1em;
margin:0 7px
}

.main-inner-title {
font-size:46px;
color:#f7f7f7;
text-transform:uppercase;
font-family:"Montserrat",sans-serif;
font-weight:600;
margin-top:50px
}

.main-inner-title>span {
color:#ffc73b
}

.scroll-button:hover {
cursor:pointer;
opacity:1
}

.info-link {
color:#272727
}

.getTreal-form {
display:block;
position:fixed;
opacity:0;
top:50%;
left:50%;
transform:translate(-50%,-50%);
z-index:31
}

.form-overlay {
position:fixed;
top:0;
width:100%;
height:100%;
z-index:30;
background:rgba(256,256,256,0.8);
display:block
}

.form-popup-inner .form-p {
width:100%;
max-width:100%
}

.scroll-info.hidden p {
    
    display: none;
    
}

.scroll-info.open p {
    
    display: block;
    
}

.header-item__h1 {
    
    color:#fff;
    font-size: 22px;
    font-family:'Montserrat',sans-serif
    
}

.header-item__h1 span {color:#ffc73b;}

.success {
    
   padding: 160px 0;
    text-align: center;
/*    padding: 35px 0;*/
    position: relative;
   
}

.success__cont {
    width: 95%;
    max-width: 755px;
    background: #f5f8fd;
    border:1px #e0e5eb solid;  
     margin: 0 auto;
    padding: 35px 10px;
    
}

.success-header {
    
    
    background: #1a232b;
}

.success__model{
    
    
    color:#0052b5;
    font-size: 16px;
    border-bottom: 1px #0052b5 dotted;
    display: inline-block;
    font-weight: 300;
    font-family:'Montserrat',sans-serif
    
}

.success__thenks {
    display: block;
font-weight: 700;
    color:#0063da;
    font-size: 46px;
    margin: 40px 0 30px 0;
    font-family:'Montserrat',sans-serif

}

.success__text {
  
    color: #46494d ;
    font-size: 19px;
    margin-bottom: 90px;
    font-family:'Montserrat',sans-serif
    
}

.success__gohome {
    
    
        color:#0052b5;
    font-size: 16px;
    font-weight: 300;
        font-family:'Montserrat',sans-serif
    
}

.form-input.error,  .error{
    
    border: 1px #ff0000 solid;
    
}
    

@media only screen and (max-width: 1146px) {
.form-p {
max-width:100%;
display:flex;
align-items:center;
margin-bottom:10px
}

.wrapper {
max-width:100%
}

.form-label {
flex-grow:0;
width:30%
}

.form-input {
width:auto;
border:1px solid #b1bfd0;
flex-grow:3
}

.rental-inner {
width:100%;
margin-top:0;
margin-bottom:0;
justify-content:space-between;
flex-wrap:wrap
}

.flex-technic {
flex-wrap:wrap;
width:100%;
justify-content:space-around;
margin:50px 0 25px
}

.main-bottom-inner-column {
margin-top:30px
}

.container {
width:95%;
transition:all 1s
}

.main-bottom-inner {
justify-content:space-around;
flex-wrap:wrap
}

.main-bottom-inner-column .main-bottom-contact:first-child {
padding-right:30px
}
}

@media only screen and (max-width: 768px) {
.contact-block {
justify-content:center;
flex-wrap:wrap
}

.contact-block-right {
display:flex;
justify-content:center
}

.contact-block-right-top {
margin-right:0;
width:100%;
display:flex;
justify-content:space-around
}

.contact-block-p {
margin-bottom:40px
}

.contact-block-p:last-child {
order:-1
}

.main-bottom-inner-column .main-bottom-contact:first-child {
padding-right:0
}

.header-menu-li-link {
font-size:17px;
padding:0 13px
}

.main-inner-logo-title {
font-size:33px
}

.main-inner-logo-text {
font-size:16px
}

.main-inner-title {
font-size:33px
}

.main-inner-logo:before {
width:72px;
height:72px
}

.header-inner {
flex-wrap:wrap
}

.header-inner .header-item:last-child {
width:100%
}

.header-menu {
justify-content:space-around
}

.main-bottom-inner-column {
justify-content:space-around;
width:100%
}

.main-bottom-contact {
text-align:center
}
}

@media only screen and (max-width: 500px) {
.form-section-h2 {
font-size:27px
}

.flex-table.flex-text-center>div:nth-child(3) {
display:none
}

.flex-table {
flex-wrap:wrap;
background:#f5f8fd
}

.flex-table>div {
width:auto;
border:none
}

.rental-h2 {
font-size:34px
}

.header-menu-li-link {
font-size:12px
}

.main-inner-logo-title {
font-size:25px
}

.main-inner-title {
font-size:27px
}

.main-bottom-inner {
padding:5% 0;
margin:0 5%
}

.main-inner-logo {
padding-left:0;
text-align:left;
padding-top:80px;
text-align:center
}

.main-inner-logo:before {
width:100%;
height:72px
}

.main-bottom-inner-column {
margin-top:0
}

.main {
height:950px
}

.main-inner {
padding-top:180px
}

.contact-p {
width:100%
}

.contact-block-right-top {
flex-wrap:wrap;
text-align:center
}

.contact-block-left {
width:100%
}

.contact-block-logo-text-title {
font-size:27px
}

.contact-block-logo-text-slogan {
font-size:16px
}

.contact-block-title {
font-size:20px
}

.form-p {
max-width:100%;
display:block;
align-items:center;
margin-top:15px
}

.form-input {
width:100%
}

.form-label {
width:100%;
    color:#46494d;
}

.tech-price-item-card-item {
justify-content:center;
text-align:center;
flex-wrap:wrap
}

.dot {
display:none
}

.text-left-bl {
width:100%
}

.tech-info-item-card h4 {
text-align:center
}

.tech-info-item-card {
padding:17px 10px
}

.tech-info-item-card-item {
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center
}

.form-wrapper-popup {
width:98%
}

.form-popup {
position:relative;
display:block;
width:100%;
padding:27px 15px
}
    


.main-bottom-contact,.main-bottom-inner-column {
padding:10px 0
}

.main-inner-logo-text {
font-size:12px
}
    
    .flex-table-title-info h4 {
        
        font-size: 16px;
    }
    
    
    .flex-info-title, .flex-table-arrow>div {
    padding: 7px 0px;
}
    
    .footer-inner {
    justify-content: center;
    flex-wrap: wrap;
        font-size: 15px;
}
    
    .header-item__h1 {
    text-align: center;
}
    
    .success-header {
    padding-top: 15px;
}
    
}